.about-container {
    margin-bottom: 40px;
    background-color: var(--white-primary);
    box-shadow: var(--shadow);
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-primary);
    
}

.second-content-container {
    padding: 0px 50px;
    margin-top: 10px;
}

.second-content-container p {
    font-size: 14px;
    margin-top: 24px;
}

.content-container p {
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-bottom: 20px;
}

.button-container button {
    color: var(--orange);
    font-weight: 600;
}

.pic-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-image {
    max-width:270px;
    max-height: 270px;
}

.before-view {
    display: flex;
    justify-content: flex-start;   
}

.after-view {
    background-color: var(--white-primary);
    padding: 24px;
}
    .img-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .content-image {
        max-width:270px;
        max-height: 270px; /* Maximum height */
        height: auto; /* Maintain aspect ratio */
        margin: auto;
        /* margin-left: 80px; */
    }
    .additional-content {
        font-size: 14px;
    }

@media (max-width: 480px) {
    .before-view {
        display: flex;
        flex-direction: column;
    }

    .pic-container {
        width: auto;
        max-height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .after-view .content-image {
        width: 100%; /* Full width */
        max-height: 100px; /* Maximum height */
        height: auto; /* Maintain aspect ratio */
        margin-right: 8px;
    }

    .second-content-container p {
        font-size: 12px;
        margin-top: 20px;
    }

    
}

@media (max-width: 1300px) {
    .about-container {
        margin-bottom: 40px;
        background-color: var(--white-primary);
        box-shadow: var(--shadow);
    }
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--white-primary);
        
    }
    
    .second-content-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .second-content-container p {
        font-size: 13px;
        margin-top: 20px;
    }
    
    .content-container p {
        margin-bottom: 8px;
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        margin-bottom: 20px;
    }
    
    .button-container button {
        color: var(--orange);
        font-weight: 600;
    }
    
    .pic-container {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .main-image {
        max-width:270px;
        max-height: 270px;
    }
    
    .before-view {
        display: flex;
        justify-content: flex-start;   
    }
    
    .after-view {
        background-color: var(--white-primary);
        padding: 24px;
    }
        .img-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
        .content-image {
            max-width:270px;
            max-height: 270px; /* Maximum height */
            height: auto; /* Maintain aspect ratio */
            margin: auto;
            /* margin-left: 80px; */
        }
    }