.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the spinner vertically */
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333; /* Change the color of the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Start the spinning animation */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg); /* Rotate the spinner 360 degrees */
    }
  }
  